.header{
    background-color: #7E87B2;
   height: 100px;
   color: white;
   text-align: left center;
   
}
.white{
    position: fixed;
}
.col-xs-6{
    background-color:#7EB0A5;
    float: center;
    margin: 30px;
    height:300px;
align-items: stretch;
   min-width:200px;
   
  
}
.container{
    justify-content: center;
}

.col-md-12{
height: 300px;
    background-color: #E4EFD1;
    color:#924DA2;
    
}