#head{
    background-color: #7E87B2;
   height: 100px;
   color: white;
   text-align: left;   
}
.white{
    position: fixed;
}
#box{
    background-color:#7EB0A5;
    height: 240px;
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   max-width: 300px;
   }
.footer{
    height: 120px;
    background-color: #E4EFD1;
    color:#924DA2;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    bottom: 0; 
}

.title{

float: left;
margin-top: 35px;
margin-bottom:25px;
margin-left: 10px;
}
